<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <h2 class="text-center">Skills</h2>
    <hr class="star-primary">
    <div class="row text-center">
      <div class="col-sm-6 portfolio-item">
        <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
          <h3>My bread and butter</h3>
        </a>
      </div>
      <div class="col-sm-6 portfolio-item">
        <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
          <h3>I am familiar with</h3>
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <h2>My bread and butter</h2>
              <hr class="star-primary">

              <div class="row">
                <div class="col-md-6">
                  AngularJS (1.x)
                </div>
                <div class="col-md-6">
                  Angular (>= 2)
                </div>
                <div class="col-md-6">
                  Bootstrap
                </div>
                <div class="col-md-6">
                  Java
                </div>
                <div class="col-md-6">
                  Spring Framework
                </div>
                <div class="col-md-6">
                  Spring Boot
                </div>
                <div class="col-md-6">
                  Spring Data JPA
                </div>
                <div class="col-md-6">
                  Spring Batch
                </div>
                <div class="col-md-6">
                  REST Webservices
                </div>
                <div class="col-md-6">
                  Jersey
                </div>
                <div class="col-md-6">
                  Sybase
                </div>
                <div class="col-md-6">
                  SQL
                </div>
                <div class="col-md-6">
                  JUnit
                </div>
                <div class="col-md-6">
                  Mockito
                </div>
                <div class="col-md-6">
                  Spring Test
                </div>
              </div>

              <button class="btn btn-success" type="button" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <h2>I am familiar with</h2>
              <hr class="star-primary">
              <div class="row">
                <div class="col-md-6">
                  Spring Integration
                </div>
                <div class="col-md-6">
                  Camel
                </div>
                <div class="col-md-6">
                  Spring Security
                </div>
                <div class="col-md-6">
                  Spring Cloud
                </div>
                <div class="col-md-6">
                  MongoDB
                </div>
                <div class="col-md-6">
                  Spring Data Mongo
                </div>
              </div>
              <button class="btn btn-success" type="button" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

