<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <h2 class="text-center">About me</h2>
    <hr class="star-light">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p>I am a fullstack developer who specializes in Java, Angular, Bootstrap. 
          I am very passitionate about  Spring, Spring Boot, Spring Data JPA, and all Spring projects.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p>This website was built using Angular & Bootstrap on the front-end.
          The backend is built using Spring & Spring boot.
        </p>
      </div>
    </div>
  </div>
</section>
