<footer class="footer navbar fixed-bottom bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <a href="https://www.facebook.com/kiran.chaluvaraju"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="https://twitter.com/kchaluvaraju"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="https://github.com/kiranchaluvaraju/"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>